body{
    height: 100%;
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    zoom:90%;
  }

body.loading {
    overflow-y:hidden; /* Prevent scrolling when the loading modal is visible */
    /* position: relative; */
}

/* Styles for the loading spinner and message */

.header,.footer {
    text-align: center;
    background-color: rgb(19, 53, 19);
    color: white;
    padding: 10px 0;
  }

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    background: rgba(0, 0, 0, 0.849);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-top:25%;
    /* border-color: white; */
}

#loading p {
    color: white; /* Set the text color to white */
}
#Sidebar{
    border-right: 3px solid darkgreen;
    width:405px;
    position: sticky;
    top: 0;
    height: 105vh; /* Full screen height */
    overflow-y: auto; /* Add vertical scrolling if needed */
}
#sidebar ul.nav.flex-column {
    padding-top: 20px;
}
#Sidebar nav{
    margin: 10px 10px 10px 10px ;
}
#Sidebar label{
    font-weight: bold;
}
#Sidebar a{
    color: darkgreen;
}

#Sidebar button{
    width:350px;
}


#NewCanidateDetails{
    height:fit-content;
    width:350px;
    padding:10px;
    border: 3px solid darkgreen;
}

/* #logout {
    text-decoration: none;
    margin-left: 100% !important; 
    display: inline-block; 
    transition: margin-left 0.3s; 
} */

/* Tooltip styles */
/* #logout:hover::before {
    content: "Logout";
    font-size: x-small;
    display: block;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;
    opacity: 0;
    transition: opacity 0.3s, margin-top 0.3s;
} */

/* #logout:hover:hover::before {
    opacity: 1;
    margin-top: 0px;
    margin-left: -35px;
} */


/* .highlightedG {
    background-color: lightgreen;
    font-weight: bold;
    } */
  
  /* .highlightedB {
    background-color: lightblue;
    font-weight: bold;
    } */
    
/* .highlightedY {
    background-color: yellow;
    font-weight: bold;
    } */




