<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>Voctractor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script>
        function openTxtFile(url,event){
            event.preventDefault(); // Prevent the link from navigating to a new page
            var newWindow = window.open(url, "_blank");                         
            newWindow.focus();

        }
    </script>
</head>
<body>
    <!-- Loading Icon -->
    <center>
    <div id="loading" class="loading" class="text-center mt-4"> 
        <!-- Loading spinner and message -->
        <div class="spinner-border text-white" role="status">
            <span class="sr-only"></span>
        </div>
        <p>Your document is being processed. This might take some time!</p>
    </div>
</center>
    <div class="header"><h3>Voctractor : AI-Powered Keyword Extraction Tool</h3></div>      
    <div class="container-fluid" id="screen">
        <div class="row">
            <!-- Sidebar -->
            <div id="Sidebar">
                <nav class="col-md-4 col-lg-3 d-md-block sidebar">
                    <div class="position-sticky">
                        <ul class="nav flex-column">                        
                                <form id="uploadForm">
                                    <li class="nav-item">
                                        <div class="form-group">
                                        <div id="alertDanger" class="alert alert-danger" style="display: none;"></div>  
                                        <div id="alertSuccess" class="alert alert-success" style="display: none;"></div>   
                                        <div id="ValidationAlertPDF" class="alert alert-danger" style="display: none;"></div>
                                        <div class="mb-3">
                                            <label for="pdfUpload" class="form-label">Add Mulitple PDF File</label>
                                            <input class="form-control-file" type="file" id="pdfUpload" name="file_paths[]" style="height: 40px;" multiple>
                                        </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="form-group">
                                            <label for="EmbedModel">Choose the embedding model to be used</label>
                                            <select class="form-control" id="EmbedModel" name="EmbedModel">
                                                <option value="all-MiniLM-L12-v2">all-MiniLM-L12-v2</option> 
                                                <option value="all-distilroberta-v1">all-distilroberta-v1</option>
                                                <option value="all-mpnet-base-v2">all-mpnet-base-v2</option>     
                                                <option value="multi-qa-distilbert-cos-v1">multi-qa-distilbert-cos-v1</option>
                                                <option value="multi-qa-MiniLM-L6-cos-v1">multi-qa-MiniLM-L6-cos-v1</option>             
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="modelDescription">Model Description</label>
                                            <textarea class="form-control" id="modelDescription" rows="5" readonly>All-round model tuned for many use-cases. Trained on a large and diverse dataset of over 1 billion training pairs.</textarea>
                                        </div>
                                        <script>
                                            const modelDescriptions = {
                                                "all-MiniLM-L12-v2" : "All-round model tuned for many use-cases. Trained on a large and diverse dataset of over 1 billion training pairs. For more information visit : https://www.sbert.net/docs/pretrained_models.html ",
                                                "all-distilroberta-v1": "All-round model tuned for many use-cases. Trained on a large and diverse dataset of over 1 billion training pairs. For more information visit : https://www.sbert.net/docs/pretrained_models.html ",
                                                "all-mpnet-base-v2" : "All-round model tuned for many use-cases. Trained on a large and diverse dataset of over 1 billion training pairs. For more information visit : https://www.sbert.net/docs/pretrained_models.html ",
                                                "all-distilroberta-v1": "All-round model tuned for many use-cases. Trained on a large and diverse dataset of over 1 billion training pairs. For more information visit : https://www.sbert.net/docs/pretrained_models.html ",
                                                "multi-qa-distilbert-cos-v1" : "This model was tuned for semantic search: Given a query/question, if can find relevant passages. It was trained on a large and diverse set of (question, answer) pairs. For more information visit : https://www.sbert.net/docs/pretrained_models.html ",
                                                "multi-qa-MiniLM-L6-cos-v1": "This model was tuned for semantic search: Given a query/question, if can find relevant passages. It was trained on a large and diverse set of (question, answer) pairs. For more information visit : https://www.sbert.net/docs/pretrained_models.html ",
                                                
                                            };
                                        
                                            const EmbedModelSelect = document.getElementById("EmbedModel");
                                            const modelDescriptionTextarea = document.getElementById("modelDescription");
                                        
                                            EmbedModelSelect.addEventListener("change", function() {
                                                const selectedModel = EmbedModelSelect.value;
                                                const description = modelDescriptions[selectedModel] || "No description available.";
                                                modelDescriptionTextarea.value = description;
                                            });
                                        </script>
                                    </li><br>
                                    <li class="nav-item">
                                    <!-- Text Area to Display Stopwords -->
                                        <div class="form-group">
                                        <label for="stopwordsTextArea">Stopwords</label>
                                            <br><a href="/static/stopwords.txt"  download>Click here to download stopwords.txt file</a>
                                            <br><a href="/static/stopwords.txt" id="openStopwordsLink">Click here to view stopwords file</a>
                                            <script>
                                                const openFile = document.getElementById("openStopwordsLink");
                                                url = openFile.href;
                                                openFile.addEventListener("click", function(event) {
                                                    openTxtFile(url,event)
                                                });
                                            </script>
                                        
                                        <textarea id="stopwordsTextArea" class="form-control" rows="4" readonly></textarea>
                                        <script>
                                            // Function to create an XMLHttpRequest object
                                            function createXMLHttpRequest() {
                                                var xhr;
                                                if (window.XMLHttpRequest) {
                                                    xhr = new XMLHttpRequest();
                                                } else if (window.ActiveXObject) {
                                                    xhr = new ActiveXObject("Microsoft.XMLHTTP");
                                                }
                                                return xhr;
                                            }
                                    
                                            // Function to update the text area with stopwords
                                            function updateStopwords() {
                                                var xhr = createXMLHttpRequest();
                                                if (xhr) {
                                                    xhr.open("GET", "/get_stopwords", true);
                                                    xhr.onreadystatechange = function () {
                                                        if (xhr.readyState == 4 && xhr.status == 200) {
                                                            var data = JSON.parse(xhr.responseText);
                                                            var stopwords = data.stopwords.join('\n');
                                                            document.getElementById('stopwordsTextArea').value = stopwords;
                                                        }
                                                    };
                                                    xhr.send();
                                                }
                                            }
                                    
                                            // Call the function to load the stopwords when the page loads
                                            window.addEventListener('load', updateStopwords);
                                            // setInterval(updateStopwords, 10000);
                                        </script>
                                        </div>
                                    </li>
                                    <!-- Text box to Add Stopwords -->
                                    <li class="nav-item">
                                    <div class="form-group">
                                      <label for="stopwordsInput">Add Stopwords</label>
                                      <div id="ValidationAlertstopword" class="alert alert-danger" style="display: none;"></div>
                                      <input type="text" id="stopwordsInput" class="form-control">
                                      <small class="form-text text-muted">Make sure to separate words with commas.</small>
                                    </div>
                                    </li>

                                    <li class="nav-item">
                                        <div class="form-group">
                                            <label for="stopwordsDelete">Enter keywords to delete from stopwords</label>
                                            <input type="text" id="stopwordsDelete" class="form-control">
                                            <small class="form-text text-muted">Make sure to separate words with commas.</small>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                    <div class="form-group mt-4">
                                      <div class="mb-3">
                                        <h6><b>Select the taxonomy as candidates</b></h6>
                                        <input class="form-check-input" type="radio" name="excelUpload" id="IPCC" value="static/Documents/taxonomies/IPCC.xlsx" checked>
                                        <label class="form-check-label" for="IPCC">IPCC</label><br>
                                        <input class="form-check-input" type="radio" name="excelUpload" id="Dril" value="static/Documents/taxonomies/Dril.xlsx">
                                        <label class="form-check-label" for="Dril">Disaster Resilient Infrastructure Lexicon</label>
                                    </div>
                                </div>
                                    </li>

                                    <li class="nav-item">
                                    <div class="form-group mt-4">
                                      <div class="mb-3">
                                        <b><u>Available custom candidate lists</u></b><br>
                                        <small class="form-text text-muted">Click on the names to view the keywords in the list</small><br>
                                        <ol id="fileList">
                                            {% for file in files %}
                                                <li class="nav-item">
                                                    <a href="#" onclick="openTxtFile('static/Candidates/' + '{{ file }}', event)">{{ file }}</a>
                                                    <a href="static/Candidates/{{ file }}" style="margin-left:5px" download>Download</a>
                                                </li>
                                            {% endfor %}
                                        </ol><br>
                                        <b>Do you want to add a new custom candidate list : </b>
                                        <input class="form-check-input" type="radio" name="newCandidate" id="newCandidateYes" value="Yes" onchange="NewCandidateList()">
                                        <label class="form-check-label" for="newCandidate">Yes</label>
                                        <input class="form-check-input" type="radio" name="newCandidate" id="newCandidateNo" value="No" onchange="NewCandidateList()" checked>
                                        <label class="form-check-label" for="newCandidate">No</label><br><br>
                                        
                                        <fieldset>
                                        <div id="CandSuccess" class="alert alert-success" style="display: none;"></div>
                                        <div id="ValidationAlertDetails" class="alert" style="display: none;"></div>
                                        <div id="NewCanidateDetails" style="display: none;">
                                            <label for="CandidateListName">Enter the new list name</label>
                                            <input type="text" id="CandidateListName" class="form-control" placeholder="eg : Disater_List">
                                            <label for="CandidateListOrg">Enter your organisation abbrivation</label>
                                            <input type="text" id="CandidateListOrg" class="form-control" placeholder="eg : AIT"><br>
                                            <button type="button" onclick="createCandidateList()" class="btn btn-success" style="width:325px">Process</button>
                                        </div>
                                        </fieldset>
                                        <script>                                                
                                            function NewCandidateList(){
                                                var NewCanidateDetails = document.getElementById("NewCanidateDetails");
                                                var yesRadio = document.getElementById("newCandidateYes");
                                                var noRadio = document.getElementById("newCandidateNo");

                                                if (yesRadio.checked) {
                                                    NewCanidateDetails.style.display = "block";
                                                } 
                                                if (noRadio.checked) {
                                                    NewCanidateDetails.style.display = "none";
                                                }
                                            }

                                            function createCandidateList(){
                                                const newCandidateName= document.getElementById('CandidateListName').value;
                                                const newCandidateOrg= document.getElementById('CandidateListOrg').value;
                                                
                                                var ul = document.getElementById('fileList');
                                                ul.innerHTML = '';
                                                // Construct the data to be sent
                                                var CformData = new FormData();
                                                CformData.append('newCandidateName', newCandidateName);
                                                CformData.append('newCandidateOrg', newCandidateOrg);

                                                // Send a POST request to your Flask endpoint
                                                fetch('/create_candidates_list', {
                                                method: 'POST',
                                                body: CformData
                                                })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.success) {
                                                        const Alert = document.getElementById('CandSuccess');
                                                        Alert.innerText = data.message;
                                                        Alert.style.display = 'block';
                                                        data.files.forEach(function(file) {
                                                        var li = document.createElement('li');
                                                        var a1 = document.createElement('a');
                                                        var a2 = document.createElement('a');
                                                        var br = document.createElement('br');
                                                        a1.href = "static/Candidates/"+file;
                                                        a1.textContent = file;
                                                        a2.href = "static/Candidates/"+file;
                                                        a2.textContent = "Download";
                                                        a2.setAttribute = ('download', file);
                                                        li.appendChild(a1);
                                                        li.appendChild(a2);
                                                        li.appendChild(br);
                                                        ul.appendChild(li);
                                                    });
                                                    }
                                                })
                                                
                                                .catch(error => {
                                                    console.error('Error:', error);
                                                });
                                            }
                                        </script>
                                      </div>
                                    </div>
                                    </li>
                                        
                                    <!-- Input Sliders -->
                                    <li class="nav-item">
                                    <div class="form-group">
                                        <label for="numberOfKeywords">Number of Keywords to Find:</label>
                                        <input type="range" id="numberOfKeywords" name="numberOfKeywords" class="form-range" min="1" max="20" value="1" style="width: 350px;">
                                        <p>Selected Number of Keywords: <span id="numberOfKeywordsValue">1</span></p>
                                    
                                        <label for="diversityBetweenWords">Diversity between words:</label>
                                        <input type="range" id="diversityBetweenWords" name="diversityBetweenWords" class="form-range " min="0.0" max="1.0" step="0.1" value="0.3" style="width: 350px;">
                                        <p>Selected Diversity: <span id="diversityBetweenWordsValue">0.3</span></p>
                                        <script>
                                            // Get the input elements
                                            const numberOfKeywordsInput = document.getElementById("numberOfKeywords");
                                            const diversityBetweenWordsInput = document.getElementById("diversityBetweenWords");
                                    
                                            // Get the span elements to display the selected values
                                            const numberOfKeywordsValue = document.getElementById("numberOfKeywordsValue");
                                            const diversityBetweenWordsValue = document.getElementById("diversityBetweenWordsValue");
                                    
                                            // Function to update the value text when sliders are moved
                                            function updateSliderValue(slider, valueElement) {
                                            valueElement.textContent = slider.value;
                                            }
                                    
                                            // Attach event listeners to update the slider values
                                            numberOfKeywordsInput.addEventListener("input", () => {
                                            updateSliderValue(numberOfKeywordsInput, numberOfKeywordsValue);
                                            });
                                    
                                            diversityBetweenWordsInput.addEventListener("input", () => {
                                            updateSliderValue(diversityBetweenWordsInput, diversityBetweenWordsValue);
                                            });
                                        </script>
                                    </div>
                                    </li>
                                  
                                  <button type="submit" class="btn btn-success" id="processBtn" disabled>Process</button> 
                                
                                  </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Main Content -->
            <div id="main"  class="col-md-8 col-lg-9 px-md-4">
                <div class="col-12 text-center mt-4">
                    <div class="container mt-5 " id="gettingStartedContainer">
                        <div id="excel_data" class="mt-5"></div>
                        <div class="alert alert-success text-dark">
                            <h4 class="alert-heading"><b>Getting Started</b></h4>
                            <p><strong>Here's a quick guide to get started:</strong></p>
                            <ul style="list-style: none;">
                                <li  class="text-left"><strong>Upload Documents :</strong> Click "Choose Files" to add your document. We support only PDF format.</li>
                                <li><strong>Stopwords:</strong> The stopwords in the box displays all the stopwords in stopwords.txt file.</li>
                                <li><strong>Add Stopwords :</strong> If you would like to add new stopwords enter them in this field comma seperated.</li>
                                <li><strong>Delete Stopwords :</strong> If you would like to delete stopwords enter them in this field comma seperated.</li>
                                <li><strong>Candidate Keywords :</strong> Select a taxonomy from the list</li>
                                <li><strong>Custom Candidate Lists :</strong> Choose yes and enter list name, your name and organistaion name in the respective field. Please don't use space in between, use underscore instead</li>
                                <li>Choose the <strong>Number of keywords</strong>you want to extract and <strong>diversity between the words</strong>diversity between the words</li>
                            
                                <hr>
                                <p ><strong>The application will extract important keywords along with their scores in different lists</strong></p>
                                <p>You can select the <strong> useful keywords on the tick button</strong> and it will be added to the list of future candidates</p>
                                <p>You can unselect the <strong>useless keywords on the cross button</strong> and it will be added to the list of future stopwords</p>
                            </ul>
                            <hr>
                            <p>The site is developed by AIT Autrsian Institute of Technology on MAIA project which has funding from European Union's Horizon Europe Research and Innovation programme under grant agreement No 101056935. Licensed under Apache 2.0.</p>
                            <a href="https://www.ait.ac.at/en/"><img src="static/Documents/logos/ait-removebg-preview.png" height="60px" width="160px"></a>
                            <a href="https://maia-project.eu/"  style="margin-left:20px"><img src="static/Documents/logos/MAIA-removebg-preview.png" height="60px" width="150px"></a>
                            <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-europe_en"  style="margin-left:20px"><img src="static/Documents/logos/eu-removebg-preview.png" height="60px" width="150px"></a>
                            <br><br><p class="mb-0"><strong>It's that simple! Enjoy using the application for effortless document analysis.</strong></p>
                        </div>
                    </div>
                </div><br>
                <div id="content"></div>
                    
            </div>
        </div>
    </div>
    <!-- <div class="footer">
        
    </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
